## Built-in user defined functions

In [2]:
print("hello, welcome")

hello, welcome

In [4]:
lst=[4,8,5,4,89,74,54,57,15,4]

In [5]:
len(lst),
range(30)

range(0, 30)

In [ ]:
----
----
---
----
for 
   xyz 
   abc
   pqr
----
----
----
-----

In [ ]:
def f1:
    xyz 
    abcxxxxxx
    pqr
----
----
f1
---
----
f1
----
----
f1
----
-----

In [6]:
#simple function defination
def greet_user():
    print("Welcome to XYZ bank")

In [7]:
#function calling
greet_user()
print("end of code")

Welcome to XYZ bank
end of code

In [8]:
def greet_user():
    print("Welcome Anuja to XYZ bank")

In [9]:
greet_user()

Welcome Anuja to XYZ bank

In [10]:
greet_user()

Welcome Anuja to XYZ bank

In [11]:
#function with a parameter
def greet_user(name):
    print("Welcome ",name," to XYZ bank")

In [12]:
greet_user("ankita")

Welcome  ankita  to XYZ bank

In [13]:
fist_name='tejas'
greet_user(fist_name)

Welcome  tejas  to XYZ bank

In [14]:
greet_user(21342)
#create a function to chk if parameter contains number and show appropriate msg accordingly

Welcome  21342  to XYZ bank

In [15]:
#function with parameter
def greet_user(name):
    print("Welcome ",name," to ABC bank")

In [16]:
greet_user("nilay")

Welcome  nilay  to ABC bank

In [17]:
def greet_user(name,bank_name):
    print("Welcome ",name," to ",bank_name," bank")

In [18]:
greet_user("nilay","icici")

Welcome  nilay  to  icici  bank

In [19]:
greet_user("amit","hdfc")

Welcome  amit  to  hdfc  bank

In [20]:
#intro functio --->name,age
# My name is nilay and i am 38 years old

In [21]:
def intro(first_name,age):
    print("my name is ",first_name,"and age is ",age)

In [22]:
intro("NK",26)

my name is  NK and age is  26

In [23]:
def add():
    x=10
    y=20
    z=x+y
    print("sum = ",z)

In [24]:
add()

sum =  30

In [25]:
add()

sum =  30

In [26]:
def add(x,y):
    z=x+y
    print("sum = ",z)

In [27]:
add(45,67)

sum =  112

In [28]:
add(345,675)

sum =  1020

In [29]:
add(45.43,67.56)

sum =  112.99000000000001

In [30]:
add(45j+6,67j+77)

sum =  (83+112j)

In [31]:
add("nilay",'karade')

sum =  nilaykarade

In [32]:
def sub(x,y):
    z=x-y
    print("difference = ",z)

In [33]:
def mul(x,y):
    z=x*y
    print("product = ",z)

In [34]:
def div(x,y):
    if y==0:
        print("cannnot divid by zero")
    else:
        z=x/y
        print("division = ",z)

In [35]:

div(10,2)

division =  5.0

In [36]:
#WRITE  a function to have 4 parameters, and calculate their average value

In [37]:
def arithmetic_op(x,y):
    add(x,y)
    sub(x,y)
    mul(x,y)
    div(x,y)

In [38]:
arithmetic_op(10,5)

sum =  15
difference =  5
product =  50
division =  2.0

In [39]:
#return statement

In [41]:
lst=[1,2,3,4,5]
list_length=len(lst)
list_length

5

In [42]:
len(lst)

5

In [43]:
def add_numbers(x,y):
    z=x+y
    return z

In [44]:
result=add_numbers(109,22)
result

131

In [45]:
result*10

1310

In [46]:
print(add_numbers(140,20))

160

In [47]:
def add_numbers(x,y):
    return x+y

In [48]:
x=add_numbers(45,76)
x

121

In [49]:
print("sum = ",add_numbers(89,65))

sum =  154

In [50]:
def arithmentic_operation(x,y):
    a=x+y
    s=x-y
    m=x*y
    d=x/y
    return a,s,m,d

In [51]:
x,y,z,p=arithmentic_operation(12,6)
x,y,z,p

(18, 6, 72, 2.0)

In [52]:
arithmentic_operation(12,6)

(18, 6, 72, 2.0)

In [53]:
print("results of a.o. =>",arithmentic_operation(12,6))

results of a.o. => (18, 6, 72, 2.0)

In [54]:
def arithmentic_operation(x,y):
    lst=[]
    a=x+y
    s=x-y
    m=x*y
    d=x/y
    lst.extend([a,s,m,d]) #lst[100,23,212,2]
    return lst

In [21]:
x1=arithmentic_operation(45,67)
x1

[112, -22, 3015, 0.6716417910447762]

In [ ]:
#function for even or odd --- arg: num
#function to calculate SI--- arg:p,n,r ---- si=(p*n*r)/100, use return statement
#function to calculate area of a circle

In [11]:
def find_even_odd(x):
    if x%2==0:
        print(x," is even")
    else:
        print(x," is odd")

In [12]:
find_even_odd(56)

56  is even

In [13]:
find_even_odd(77)

77  is odd

In [28]:
def calculate_si(x,y,z):
    si=(x*y*z)/100
    return si

In [29]:
p=int(input("enter principal amount "))
n=int(input("enter duaration in years "))
r=int(input("enter rate of intrest "))

enter principal amount100000
enter duaration in years6
enter rate of intrest8

In [30]:
calculate_si(p,n,r)

48000.0

In [55]:
def get_upper_case(word):
    word=word.upper()
    return word

In [56]:
get_upper_case('pune')

'PUNE'

In [36]:
city_name='pune'

In [37]:
get_upper_case(city_name)

'PUNE'

In [38]:
city_name.upper()

'PUNE'

In [39]:
def get_upper_case(lst):
    for city in lst:#city ='mumbai'
        print(city.upper())#PUNE MUMBAI.....

In [40]:
city=['pune','mumbai','nagpur','aurangabad']

In [41]:
get_upper_case(city)

PUNE
MUMBAI
NAGPUR
AURANGABAD

In [45]:
#nested functions
def a():
    print("inside function a")
    
def b():
    a()
    print("inside function b")

In [46]:
a()

inside function a

In [47]:
b()

inside function a
inside function b

In [ ]:
#function to calculate area of a circle--->r
#function to calculate area of a circles--->list of multiple radius

In [15]:
def find_circle_area(r):
    area=3.14*r*r
    print("area = ",area)

In [16]:
find_circle_area(36)

area =  4069.44

In [22]:
def circles_area(lst_radius):#[2,3,4,5] 
    lst_area=[]
    #for i in range(0, len(lst_rad)):0,1,2,3--->lst_rad[i]
    for radius in lst_radius:  #[2,3,4,5] 
        area=3.14 * radius**2
        lst_area.append(area)#lst_area [100,200,300]
    print(lst_area)
        
lst=[2,3,4,5]     
circles_area(lst)

[12.56, 28.26, 50.24, 78.5]

In [ ]:
#calculate S.I. for 3 differet set of p,n,r
#calculate bill amount calculation for 3 differet set of unit price & quantity

In [19]:
#scope of the variable
x=1000 #global variable
def demo():
    y1=100   #local variable
    print("inside demo function - y1 = ",y1)
    print("inside demo function - x = ",x)
    
demo()
print("outside demo function - x = ",x)
print("outside demo function - y1 = ",y1)

inside demo function - y1 =  100
inside demo function - x =  1000
outside demo function - x =  1000

NameError: name 'y1' is not defined

In [10]:
x=7
lst=[4,2,7,1,9,5,3]

for i in lst:
    if x==i:
        print(x," is found")
        break
    else:
        print(x," is not found")
print("eoc")

7  is not found
7  is not found
7  is found
eoc

In [13]:
#write a function that accepts number to be searched and list of numbers
#ver 3
x=45
found=False
lst=[45, 567, 23, 12, 6, 8, 9, 34, 43]
for i in lst:
    if x==i:
        found=True
        break        

if found==True:
    print(x," is present")
else:
    print(x," is not present")
print("end of code")

45  is present
end of code

In [16]:
def find_val(x,lst):
    found=False    
    for i in lst:
        if x==i:
            found=True
            break        
    msg=""
    if found==True:
        msg=f"{x} is present"
    else:
        msg=f"{x} is not present"
    
    return msg

In [17]:
l1=[45, 567, 23, 12, 6, 8, 9, 34, 43]
num=int(input("Enter the number to be searched in the list"))
find_val(num,l1)

Enter the number to be searched in the list22

'22 is not present'

In [ ]:
#function to merge two list

In [55]:
l1=[54,67,78,454,23,23]
l2=[14,73,178,54,323,233]

In [58]:
def merge_lists(x,y):
    """z=[]
    z.extend(x)
    z.extend(y)"""
    z=x+y
    return z

In [59]:
l3=merge_lists(l1,l2)
l3

[54, 67, 78, 454, 23, 23, 14, 73, 178, 54, 323, 233]

In [ ]:
#function i/p->list of numbers ---> 2 list (even, odd)

In [60]:
def even_odd_list_splitting(lst):
    even_list=[]
    odd_list=[]
    for i in lst:
        if i%2==0:
            even_list.append(i)
        else:
            odd_list.append(i)
    return even_list, odd_list

In [61]:
even_odd_list_splitting(l3)

([54, 78, 454, 14, 178, 54], [67, 23, 23, 73, 323, 233])